	<div class="container">
		<div class="hero-unit">
			<h2>拍卖流程</h2>
			<p>
				<ul class="unstyled">
					<li><span class="badge badge-success">1</span> 首先登陆后在后台添加待拍卖信息</li>
					<li><span class="badge badge-success">2</span> 拍卖开始后开始进行出价, 价高者得</li>
					<li><span class="badge badge-success">3</span> 到时间后, 最高者得拍卖品</li>
					<li><span class="badge badge-important">4</span> 拍卖结束后如双方一方有违约, 则违约方需向对方支付拍卖价格5%的违约金</li>
				</ul>
			</p>
			<!--
			<p>
				<a class="btn btn-primary btn-large">
					Learn more »
				</a>
			</p>
			-->
		</div>
		<div class="row">
			<div class="span12">
				<h2>最近开拍: </h2>
			</div>
			<div class="span4">
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<p>
					<a class="btn" href="#">View detail  »</a>
				</p>
			</div>
			<div class="span4">
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<p>
					<a class="btn" href="#">View detail  »</a>
				</p>
			</div>
			<div class="span4">
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<p>
					<a class="btn" href="#">View detail  »</a>
				</p>
			</div>
		</div>
	</div>

